/* Add this CSS to your stylesheet */
.img-container {
    display: flex;
    justify-content: center;
  }
  
  .img-container img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    max-height: 100%; /* Ensure the image doesn't exceed its container */
    object-fit: cover; /* Scale the image while preserving its aspect ratio */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  @media (max-width: 768px) {
    .img-container {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  